<section data-ng-controller="HomeController">
    <div class="about-us-div-img img-responsive">
        <div class="about-us-div pos-absolute">
            <div class="about"><p class="text-center">ABOUT US<p></div>
            <div class="about-us-text"><p class="text-center">Brief snapshots of exactly who you'll be dealing with.<p></div>
        </div>
    </div>
    <div class="container about-container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">MEET TEAM REDSTREAM</h4>
                <p>Our goal is to know as much about you as we can. At least in terms of your work and hiring goals. So at the risk of offering too much information, here's a little something you ought to know about each of us, and why we do what we do. Can't get enough of us? Call RedStream at 646.688.5640, or <a href="#!/connect">drop us a line.</a></p>
            </div>
        </div>
    	<div class="row nav-padding">
            <div class="row">
        		<div class="col-md-3">
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff1.jpg" class="img-thumbnail">
        			</div>
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff1.jpg" class="img-thumbnail">
        			</div>
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff1.jpg" class="img-thumbnail">
        			</div>
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff1.jpg" class="img-thumbnail">
        			</div>
        		</div>
        		<div class="col-md-3 details">
        			<h4>SIOUX LOGAN</h4>
        			<p>Candidates are not commodities; they are skilled and vital assets to their organizations. Together, clients and candidates represent equal sides of a mutually exclusive relationship. Recognizing this has been critical to RedStream's success. That, and our shameless passion for placing talent in a position to really soar.</p> <p>Call me at 212.568.0389.</p>
    				<a href="/#!">Let's connect @ LinkedIn.</a>
    				<hr>
        		</div>
        		<div class="col-md-3">
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff2.jpg" class="img-thumbnail">
        			</div>
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff2.jpg" class="img-thumbnail">
        			</div>
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff2.jpg" class="img-thumbnail">
        			</div>
        			<div class="img-responsive">
        				<img src="/modules/core/img/staff2.jpg" class="img-thumbnail">
        			</div>
        		</div>
        		<div class="col-md-3">
        			<h4>PIETER SCHENCK</h4>
        			<p>
    					I've been working behind the scenes to put the spotlight on others my entire career, whether as a lighting engineer for theater, television and special events, I.T. project manager for Citibank and JP Morgan Chase, or even during my stint with The Big Apple Circus. As co-founder of RedStream Technology, my next act will be to make your best career move appear as if by magic.
    				</p> 
    				<p>Call me at 646.688.5711.</p>
    				<a href="/#!">Let's connect @ LinkedIn.</a>
    				<hr>
        		</div>
            </div>
            <div class="row">
        		<div class="col-md-3">
        			<div class="img-responsive">
                        <img src="/modules/core/img/staff3.jpg" class="img-thumbnail">
                    </div>
                    <div class="img-responsive">
                        <img src="/modules/core/img/staff3.jpg" class="img-thumbnail">
                    </div>
                    <div class="img-responsive">
                        <img src="/modules/core/img/staff3.jpg" class="img-thumbnail">
                    </div>
                    <div class="img-responsive">
                        <img src="/modules/core/img/staff3.jpg" class="img-thumbnail">
                    </div>
        		</div>
        		<div class="col-md-3">
        			<h4>STEFAN OLSON</h4>
        			<p>
    					As a passionate golfer and member of an Ivy League Champion baseball team, I’m competitive by nature. And I bring that same determination to serving RedStream’s clients. That’s not to say I can’t be laid back. I’m a native Californian; hanging out on the beach or on a boat – or enjoying the occasional pedicure – are some of my favorite things to do.
    				</p> 
    				<p>Call me @ 646.688.2243.</p>
    				<a href="/#!">Let's connect @ LinkedIn.</a>
    				<hr>
        		</div>
        		<div class="col-md-3">
        			<div class="img-responsive">
                        <img src="/modules/core/img/staff4.jpg" class="img-thumbnail">
                    </div>
                    <div class="img-responsive">
                        <img src="/modules/core/img/staff4.jpg" class="img-thumbnail">
                    </div>
                    <div class="img-responsive">
                        <img src="/modules/core/img/staff4.jpg" class="img-thumbnail">
                    </div>
                    <div class="img-responsive">
                        <img src="/modules/core/img/staff4.jpg" class="img-thumbnail">
                    </div>
        		</div>
        		
        		<div class="col-md-3 details">
        			<h4>STEPHEN WOOD</h4>
        			<p>
    					Here's what I love about recruiting: Every day brings new challenges, but also triumphs. Though my training is in theatre – I’m a recipient of the Kennedy Center’s American College Theatre Festival Award for Excellence in Sound Design…whew, that’s a mouthful! – these days it’s the word ‘hired’ that’s music to my ears.
    				</p> 
    				<p>Call me @ 646.688.5790.</p>
    				<a href="/#!">Let's connect @ LinkedIn.</a>
    				<hr>
        		</div>
            </div>
    	</div>
    </div>
 </section>