<section data-ng-controller="HomeController">
	 <div class="about-you-div-img">
        <div class="about-you-div pos-absolute">
            <div class="about-first-div text-center"><p>ABOUT YOU</p></div>
            <div class="about-second-div text-center"><p>Upgrade your concept of recruitment.</p></div>
        </div>
    </div>
    <div class="container">
    	<div class="row">
	    	<div class="col-md-6">
	    		<div class="col-md-12">
		    		<h4>WHAT REDSTREAM MEANS FOR OUR</h4>
		    		<p class="text-center"><b>TALENT.</b><p>
		    	</div>
	    		<div class="col-md-12">
	    			<p><b>Appreciation</b> for who you are, what you do, and the value<br>of both</p>
					<p><b>Regular contact</b>throughout the process; no<br>communication black holes</p>
					<p><b>Resume analysis</b>, identifying strengths, weaknesses and<br>providing advisory support</p>	
					<hr>
	    		</div>
	    	</div>
	    	<div class="col-md-6">
	    		<div class="col-md-12">
		    		<h4>WHAT REDSTREAM MEANS FOR OUR</h4>
		    		<p class="text-center"><b>CLIENTS.</b><p>
		    	</div>
	    		<div class="col-md-12">
	    			<p><b>Know-how</b> to find the hard-to-find<p>
					<p><b>Agility</b> to shift direction as needed</p>
					<p><b>Expertise</b> across a wide range of job types</p>
					<p><b>Extreme</b> insight into industry developments</p>
					<hr>
				</div>
    		</div>
	    </div>
    </div>
</section>