.about-you-div-img{
    padding-top: 400px !important;
    background: #000 url('/modules/core/img/con4.jpg') no-repeat !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 550px;
}

.about-you-div{
    position: absolute;
    width: 100%;
    top: 300px;
}

.about-first-div{
    margin: 30px auto;
    width: 25%;
    padding: 11px 0;
}


.about-second-div p{
    font-style: italic;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.about-second-div{
    margin: 30px auto;
    width: 80%;
    padding: 11px 10px;
}

.about-first-div p{
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 7px;
}