
.connect-div-img{
    padding-top: 400px !important;
    background: #000 url('/modules/core/img/Contact.jpg') no-repeat !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 550px;
}

.connect-div{
    height: 60%;
    top: 250px;
    left: 30%;
    width: 100%;
}

.connect{
    width: 20%;
    font-weight: 800;
    line-height: 2.6em;
    letter-spacing: 4px;
    margin-bottom: 20px;
    font-size: 1.7em;
    margin-left: 136px;

}

.connect-text{
    width: 40%;
    padding: 15px 1px;
    font-weight: 400;
    font-size: 1.6em;
    font-style: italic;
    line-height: 1.6em;
    letter-spacing: 1px;
}  

.connect-body{
    max-width: 960px;
    margin: 100px auto;
}

.connect-form label{
    font-weight: 400;
    font-size: 0.9em;
    font-style: normal; 
}

.last_name{
    margin-top: 31px;
}

.submitButton{
    padding: 0.5em 2em;
    background-color: #272727;
    color: #FFF;
    text-decoration: none;
    margin-left: 15px;
    border: 1px solid #272727;
    font-size: 0.7em;
}

.email{
  margin: 30px 0;
}

.contact-form{
    margin-left: 15px;
}

.message{
    margin: 30px 0 25px 0;
}

.connect-form hr{
   margin-right: 20px;
}

.connect-form{
    margin: 0 auto;
    max-width: 90%;
    margin-top: 30px;
}


.connect-icon{
    border-radius: 20px;
    background: #000;
    width: 40px;
    height: 40px;
}


.connect-envelope{
    color: #fff !important;
    font-size: 20px !important;
}

.connect-mail-anchor{

}

.want-to-send{
    display: -webkit-inline-box;
}

.connect-divider{
    width: 65%;
}