.home p{
    font-size: 14px;
}

body {
    overflow-x: hidden;
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
}

.group:after, .group:before{
  display: table;
}

.group:after {
  clear: both;
}
-
@font-face {
    font-family: 'Proxima';
    src: url('/modules/core/fonts/ProximaFontFiles/proxima/proximanova-webfont.eot');
    src: url('/modules/core/fonts/ProximaFontFiles/proxima/proximanova-webfont.eot?#iefix') format('embedded-opentype'),
    url('/modules/core/fonts/ProximaFontFiles/proxima/proximanova-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*The navigation bar*/
/*header
background-color: rgba(0,0,0,.6);
width: 100%;
position: relative;
z-index: 8001;
}
*/

.logo{
   padding-left: 45px;
}

.header{
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top:0;
    left:0;
    right:0;
}
.nav-padding{
    padding-bottom: 25px;
    padding-top: 30px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background: #ccc !important;
}


.header-ul{
   margin-bottom: -10px !important;
}

.header-container{
   margin-top: 15px;
}


.header ul li a{
   color: #fff;
}

a.navi a:visited, a.navi:active {
    color: #e30202;
}

.header li{
  display: inline-block;
  padding: 0 12px;
}

.logo a{
  color: #fff;
  letter-spacing: 3px;
  font-size: 22px;
}

.menu{
  margin-right: -20px;
  margin-top: 22px;
  font-size: 20px;
}

.container-fluid{
  padding: 0;
  margin: 0;
}


a.navi:hover{
  background-color: transparent;
}



/*.content {
  margin-top: 50px;
}
*/
.undecorated-link:hover {
  text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



.pos-absolute {
   position: absolute;
} 

/*The Home page*/
/*The side navigation bars*/
ul.scroll-balls {
  list-style: none;
  font-size: 1.2em;
  padding: 0;
  display: block;
  text-align: right;
}

div.side-bar{
  position: fixed;
  right: 0;
  top: 50%;
}

a.scroll {
   color: #000;
   text-decoration: none;
}

li.side-nav{
  display: block;
}

li.side-nav a.scroll {
  display: block;
}

span.scroll-span{
    font-size: 10px;
}


li.side-nav a.scroll span.scroll-span {
  display: inline-block;
  transform-origin: 100% 50%;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -webkit-transform: rotateY(90deg); 
  opacity: 0;
  position: relative;
  right: 0;  
  transition: -webkit-transform .3s ease-in-out, opacity .3s ease-in-out, right .3s ease-in-out;
}

li.side-nav:hover a.scroll span.scroll-span, a.scroll:focus span.scroll-span {
  opacity: 1;
  -webkit-transform: rotateY(0deg); 
}

li.side-nav:focus a.scroll span.scroll-span, a.scroll:focus span.scroll-span {
  right: 10px;
}

a.scroll:focus {
  outline: none;
}

a.scroll:focus:after {
  content: '\25C0';
}

a.scroll:after {
  content: '\25CF';
  padding: 0 5px;
}


/*The first div on the home page*/

.first-div-img{
    padding-top: 400px !important;
    background-image: url('/modules/core/img/con2-edit.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 590px;
}

.first-div{
   height: 100%;
   position: relative;
   width: 100%;
}

.scroll-to-top, .scrolldown{
    width: 45px;
    height: 45px;
    border-radius: 22px;
    left: 49%; 
}

.scrolldown{
    bottom: 0;
}

.scrollup img{
    display: block;
}

.put, .insights-text, .candidates, .clients, .connect, .meet-team, .about, .about-first-div{
    background-color: rgba(255, 0, 0, 0.6);
}

.put, .insights-text{
    width: 50%;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
}

.period, .work, .deliver, .connect-text, .our-team, .about-us-text, .about-second-div{
    background-color: rgba(255, 255, 255, 0.9);
}

.period{
    width: 10%;
    padding: 15px 1px;
    /*font-family: "proxima-nova";*/
    font-size: 1.6em;
    line-height: 1.6em;
    letter-spacing: 1px;
  /*  font-weight: 400;*/
}

div.period.text-center{
   bottom: 130px;
   left: 45%;
}

div.put.text-center{
   bottom: 215px;
   left: 25%;
}

/*The second div on the home page*/


.second-div{
    max-width: 960px;
   margin: 0 auto;
   padding-top: 40px;
}

.second-div img{
    width: 50%;
    margin-top: 30px;
    margin-bottom: 100px;
}



.work p{
    font-style: italic;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: 1px;

}

.work{
    bottom: 130px;
    left: 50%;
    width: 20%;
    padding: 7px 1px;
    margin-left: 64px;
}


.wrapper{
    padding: 20px 0;
}

hr.divider{
    border-top: 2px soild #000 !important;
}


/*Third div on the home page*/

.third-div{
  height: 100%;
}

.third-div-img{
    padding-top: 400px !important;
    background: #000 url('/modules/core/img/con5-edit.jpg') no-repeat !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 550px;
}

.candidates-wrapper{
    max-width: 850px;
    margin: 99px auto;
}


.candidates-wrapper h4, .clients-wrapper h4, .team-gallery h4{
    padding-bottom: 18px;
    font-size: 20px;
}

.candidates-div{
    top: 1500px;
    left: 35%;
    width: 100%;
}

.candidates{
    width: 31%;
    padding: 4px;
    margin-bottom: 20px;
}

.candidates-div p{
    line-height: 1.6em;
}

.candidates p{
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 7px;
}

/*The fifth div*/
.fifth-div{
  height: 100%;
}

.fifth-div-img{
    padding-top: 400px !important;
    background-color: #000;
    background-image: url('/modules/core/img/con6-edit.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 550px;
}

.clients-div{
    top: 2400px;
    left: 26%;
    width: 100%;
}

.clients-div p{
    line-height: 1.6em;
}

.clients p{
    font-weight: 700;
    font-size: 2.1em;
}

.clients{
    width: 25%;
    margin-bottom: 20px;
    margin-left: 161px;
    letter-spacing: 7px;
}

.deliver{
    letter-spacing: 1px;
    width: 47%;
    padding: 7px 0;
}

.deliver p{
    font-style: italic;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.clients-wrapper{
    max-width: 850px;
    margin: 99px auto;
}


.clients{
    width: 31%;
    padding: 4px;
    margin-bottom: 20px;
}


.clients p{
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 7px;
}

/*Seventh div*/

.seventh-div{
  height: 100%;
}

.seventh-div-img{
    padding-top: 400px !important;
    background-color: #000;
    background-image: url('/modules/core/img/staff-edit.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    height: 550px;
}

.team-gallery{
    padding-top: 80px;
}

.meet-team-div{
    top: 3500px;
    left: 24%;
    width: 100%;
}

.meet-team-div p{
    line-height: 1.6em;
}

.meet-team p{
    font-weight: 700;
    font-size: 2.1em;
}

.meet-team{
    width: 52%;
    margin-bottom: 20px;
    letter-spacing: 7px;
}

.our-team{
    letter-spacing: 1px;
    width: 43%;
    padding: 7px 0;
    margin-left: 30px;
}

.our-team p{
    font-style: italic;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: 1px;
}


.team{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5%;
}

.team img{
    width: 240px;
    height: 240px;
    border: 1px solid #000;
}

.gallery{
    margin: 0;
    padding: 0;
}

.gallery li{
    display: inline-block;
    list-style: none;
    margin: 20px;
}



/*The footer*/
.top-footer{
  overflow: hidden;
  margin: 85px 0 20px 90px;
}

.social-icon-list{
  list-style-type: none;
}

.social-icon-twitter, .social-icon-linkedin, .icon-envelope, .connect-envelope{
    border-radius: 20px;
    font-size: 30px;
    margin-right: 12px;
    padding-top: 15%;
    padding-left: 20%;
    color: #000;
}

.social-icon-twitter, .social-icon-linkedin, .icon-envelope{
    background: #fff;
    width: 30px;
    height: 30px;
}


footer{
  background-color: #000;
  padding-bottom: 60px;
}

.footer, .footer-link a{
  color: #fff;
  text-decoration: underline;
}
.scroll-to-top{
    background-color: #fff;
    text-align: center;
    display: block;
    top: 4570px; 
}

.scroll-to-top img{
    width:45%;
    margin-left: 10px;
    margin-bottom: -10px;
}

.scrollup{
    color: #000;
    font-size: 12px;
    display: block;
}
